<h1>投稿編集フォーム</h1>

<%= form_with model: @post do |f| %>
    <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
    <h4>タイトル</h4>
      <%= f.text_field :title %>
    <h4>説明文</h4>
      <%= f.text_area :introduction %>

    <div class="field">
      <%= f.label"タグ (,で区切ると複数タグ登録できます)" %><br>
      <%= f.text_field :name, value: @tag_list %>
    </div>

    <div class="form-group row">
      <%=f.label:"公開範囲",class:"col-sm-4"%>
        <div style="padding-right:20px;">
          <%= f.radio_button :status, :true %>
          <%= f.label :status, "公開", {value: :true, style: "display: inline-block;"} %>
        </div>
        <div style="padding-right:20px;">
          <%= f.radio_button :status, :false %>
          <%= f.label :status, "下書き保存", {value: :false, style: "display: inline-block;"} %>
        </div>
    </div>

    <%= f.submit '更新' %>
<% end %>