<h1>会員詳細画面</h1>

<div>
  <h3><%= @user.user_name %></h3>
  <%= image_tag @user.get_profile_image, size: '50x50' %>
  <% if @user == current_user %>
    <%= link_to "編集", edit_user_path(@user) %>
    <%=link_to "下書き一覧", confirm_user_path(@user) %>
  <% end %>
  <%=link_to"お気に入り記事",favorites_user_path(@user) %>
</div>

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image, size: '160x100' %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image, size: '50x50' %></p>
  <p>タイトル：<%= post.title %></p>
  <p>説明：<%= post.introduction %></p>
  <p>タグ：<%= post.tags.map(&:name).join(', ') %></p>
  <p>ユーザーネーム：<%= post.user.user_name %></p>
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post) %></p>
  <%= link_to "詳細", post_path(post) %>
</div>
<% end %>

<%= paginate @posts %>