<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5 mx-auto">
    <% if @post.is_ban? %>
      <h3>この投稿は管理者により非公開になっています</h3>
    <% end %>

    <div class="post-show">
      <%= image_tag @post.get_image, class: 'post-show-image' %>
      <h1 class="mt-5 mb-2"><%= @post.title %></h1>

          <p>
              ♡<%= @post.favorites.count %> いいね
          </p>

      <div class="row">
        <div class="col-1">
          <%= link_to profile_path(@post.user.id), class:"text-dark" do %>
            <%= image_tag @post.user.get_profile_image, size: '50x50', class: 'mb-5 rounded-circle' %>
          <% end %>
        </div>
        <div class="col-8">
          <%= link_to profile_path(@post.user.id), class:"text-dark" do %>
            <%= @post.user.user_name %>
          <% end %><br>
          <small><%= l @post.created_at %></small>
        </div>
      </div>

      <p>
        <%= @post.introduction %>
      </p>

      <p class="mt-5">タグ：
        <% @post_tags.each do |tag| %>
          <%= link_to tag.name,admin_search_tag_path(tag_id: tag.id)%><%="(#{tag.posts.count})" %>
        <% end %>
      </p>
    </div>

    <div class="mt-2 mb-4">
        <%= link_to "非公開設定", edit_admin_post_path(@post), class: 'btn btn-danger' %>
    </div>

      <div class="comment_area">
        <h4>コメント一覧</h4>
        <p>件数：<%= @post.post_comments.count %></p>
        <table>
          <tbody class='table'>
            <% @post.post_comments.each do |post_comment| %>
              <tr>
                <td><%= image_tag post_comment.user.get_profile_image, size: '50x50', class: 'rounded-circle' %></td>
                <td><%= post_comment.user.user_name %></td>
                <td><small><%= l post_comment.created_at %></small></td>
                <td><%= post_comment.comment %></td>
                <td class='col-2'>
                  <% if post_comment.user == current_user %>
                  <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>