<!DOCTYPE html>
<html>
  <head>
    <title>作曲コミュ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <main class="pb-5 mb-5">
        <%= render 'shared/flash_message' %>
        <%= yield %>
      </main>
    </div>
    <div class="push"></div>
    <%= render 'layouts/footer' %>
  </body>
</html>
